.loginForm{
    position: relative;
    min-width: 50%;
    max-width: 50%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    color: var(--white);
    z-index: 5;
}

.loginForm form{
    width:85%;
}

.loginForm h1{
    margin: 0 0 40px 0;
    text-align: center;
    cursor: default;
}

.loginForm h1 span{
    color: var(--darkBlue);
}


.ContainerSpinnerForm{
    position: relative;
    display: flex;
    align-items: center;
}

.ContainerSpinnerForm .spinnerLoginForm{
    margin: -13px 12px 0 0;
}

.msjIncompleteForm{
    color: rgb(187, 3, 3);
    margin-top: 5px;
}

.msjIncompleteForm svg{
    margin: 0 5px 3px 0;
}


/*LOGO*/
.LogoContainerLogin{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.imgLogoLogin{
    position: relative;
    width: 80px;
    filter: invert(90%);
}

.titleLogoLogin{
    font-size: var(--heading2);
    color: var(--darkBlue);
    font-weight: 700;
    margin: 0 5px -15px 0;
}
/*FIN LOGO*/

@media all and (max-width:900px){
    .loginForm{
        position: relative;
        min-width: 100%;
        max-width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.267);
    }
}