*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
}

:root {
	--lightGrey: #ececec;
	--grey: #93a3b8;
	--dark-grey: #64748b;
	--black: #111;
  	--white: rgb(255, 255, 255);
	--lightBlue: rgb(132, 132, 216);
	--blue: rgb(80, 80, 219);
	--darkBlue: rgb(13, 110, 253);


	--heading1: 4rem;
	--heading2: 3rem;
	--heading3: 2.5rem;
	--heading4: 2rem;
	--heading5: 1.5rem;
	--heading6: 1rem;

	--text1: 1.5rem;
	--text2: 1rem;
	--text3: 0.5rem;
}

.headerTxt {
	font-size: var(--heading1);
}

.title {
	font-size: var(--heading2);
}

.subtitle {
	font-size: var(--heading3);
}

.bodyTxt {
	font-size: var(--text1);
}

.detailsTxt {
	font-size: var(--text2);
}

/*MEDIA QUERIES*/

@media all and (max-width: 1024px) {
	.headerTxt {
		font-size: var(--heading2);
	}
	.title {
		font-size: var(--heading4);
	}
	.subtitle {
		font-size: var(--heading5);
	}
	.bodyTxt {
		font-size: var(--text2);
	}
	.detailsTxt {
		font-size: var(--text3);
	}
}

@media all and (max-width: 768px) {
	.headerTxt {
		font-size: var(--heading3);
	}
	.title {
		font-size: var(--heading5);
	}
	.subtitle {
		font-size: var(--heading6);
	}
}