.layoutPublic{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: var(--black);
    padding-top: 15vh;
}

.layout-container{
    position: relative;
    width: 100%;
    min-height: 80vh;
}